<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragment_head"></div>
<body>
    <th:block th:include="fragment_navbar :: topnavbar(isReply=false,
                                                       isAnswer=${reply_button == null},
                                                       isEvaluative=${isEvaluative},
                                                       reply_button=${reply_button})"></th:block>

    <main class="container-fluid py-special">

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 my-5">

                <div class="d-flex flex-wrap mb-4 justify-content-between align-items-center">

                    <div class="d-flex flex-column flex-grow-1 h3 mb-0 mt-2 font-weight-bolder">
                        <span th:text="${title}" class="black">titulo</span>
                        <span th:if="${author} != null"
                              th:text="${author}" class="black">autor</span>
                    </div>

                    <div class="d-flex align-items-center badge badge-dark mb-0 mt-2">
                        <span class="h6 m-1"
                              th:text="${survey_type}"
                              title="Tipo de encuesta">tipo de encuesta</span>
                    </div>
                </div>

                <div class="list-group">
                    <!-- Por cada pregunta/respuesta -->
                    <div th:each="item : ${items}"
                         th:with="iShape=${item.single ? '-circle' : '-square'}"
                         class="list-group-item text-white bg-dark mb-4 rounded">

                        <div class="h6 d-flex" >
                            <span th:text="${item.name}">nombre del item</span>
                            <span th:text="${item.badge}"
                                  class="badge badge-light ml-auto mb-auto"
                                  title="Tipo de pregunta">placa</span>
                        </div>

                        <div th:each="sItem : ${item.subItems}"
                             th:with="cText=${sItem.approved ? 'text-success' : 'text-danger'},
                                      sTitle=${sItem.selected ? 'Opción elegida' : 'Opción no elegida'},
                                      cTitle=${sItem.correct ? 'Opción correcta' : 'Opción incorrecta'},
                                      sIcon=|bi bi${sItem.selected ? '-check' : ''}${iShape}|,
                                      cIcon=|bi bi${sItem.correct ? '-check' : ''}${iShape}|"
                             th:class="${reply_button == null && sItem.evaluative ? cText : ''}">

                            <div th:if="${reply_button} != null" class="d-inline">
                                 <i class="bi bi-play-fill ml-2"></i>
                            </div>

                            <div th:if="${reply_button} == null" class="d-inline">
                                <div class="d-inline ml-2">
                                    <i th:class="${sIcon} + '-fill'" th:title="${sTitle}" ></i>
                                </div>
                                <div class="d-inline ml-2" th:if="${sItem.evaluative}">
                                    <i th:class="${cIcon}" th:title="${cTitle}" ></i>
                                </div>
                            </div>

                            <small class="ml-1" th:text="${sItem.name}">nombre del subitem</small>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </main>

    <footer th:replace="fragment_footer"></footer>
    <script th:replace="fragment_javascript"></script>
</body>
</html>
