<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragment_head"></div>
<body>
    <th:block th:include="fragment_navbar :: topnavbar(false, false, false, null)"></th:block>

    <main class="container d-flex flex-column justify-content-around align-items-center
                vw-100 vh-100 px-auto px-sm-5 py-special">

        <div class="row justify-content-center">
            <div class="col col-12">
                <div class="list-group bg-dark">

                    <div class="list-group-item text-white bg-dark p-2 p-sm-4">
                        <div class="display-4 text-center bi bi-emoji-frown"></div>
                        <div class="h4 my-2 text-center font-weight-bold" th:text="${message}">mensaje</div>
                    </div>

                    <div th:each="action : ${actions}"
                         class="list-group-item bg-dark p-4">
                        <a class="btn btn-block btn-outline-primary
                                  d-flex flex-row justify-content-around align-items-center
                                  shadow p-4"
                           th:href="${action.url}">
                            <span class="d-flex text-white bi bi-chevron-double-right h4 mb-0"></span>
                            <span class="d-flex text-white h5 mx-2 mb-0" th:text="${action.message}">mensaje</span>
                            <span class="d-flex text-white bi bi-chevron-double-left h4 mb-0"></span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <footer th:replace="fragment_footer"></footer>
    <script th:replace="fragment_javascript"></script>
</body>
</html>