<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="author" content="Schmidt Cristian Hernán">
    <meta name="description" content="Actividad Encuestas desarrollado para el curso
                                      Desarrollador Multiplataforma Certificado">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="/public/css/style.and.bootstrap.css">

    <title>Actividad Encuestas - CPCI - Silicon Misiones</title>
</head>
