<footer class="container-fluid">
        <nav class="navbar fixed-bottom navbar-dark bg-dark">
            <a class="navbar text-white" target="_blank"
               href="mailto:dev@schcriher.ar, schcriher@gmail.com?subject=Encuestas: ">

                <span class="h6 mb-0 d-sm-none">Schcriher</span>
                <span class="h6 mb-0 d-none d-sm-inline font-weight-bold">
                    Sch&#8202;cri&#8202;her
                    <i class="bi bi-caret-right-fill"></i>
                    Sch<span class="text-muted">midt</span>
                    Cri<span class="text-muted">stian</span>
                    Her<span class="text-muted">nán</span>
                </span>
            </a>
            <div class="navbar">
                <a class="h6 mb-0 text-secondary" target="_blank"
                   href="https://www.pexels.com/es-es/foto/lienzo-marron-vacio-235985">
                    <span class="d-sm-none">Fondo</span>
                    <span class="d-none d-sm-inline d-lg-none">Fondo por Pixabay</span>
                    <span class="d-none d-lg-inline">Fondo “Lienzo Marrón Vacío” por Pixabay</span>
                </a>
            </div>
        </nav>
    </footer>
