<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="topnavbar(isReply, isAnswer, isEvaluative, reply_button)">

    <nav class="navbar fixed-top navbar-dark bg-dark">

        <a class="navbar-brand mb-0 h1 text-white ml-1" href="/">Encuestas</a>

        <a class="navbar-brand mb-0 mr-auto badge badge-success d-flex"
           title="Página responsiva" href=""
           data-toggle="modal" data-target="#responsiveInfoModal">
            <span id="supportDisplayButton" class="bi bi-display"></span>
            <span id="supportPhoneButton" class="bi bi-phone"></span>
        </a>

        <a th:if="${isAnswer || isReply}"
           class="navbar-brand mb-0  mr-4 badge badge-success"
           title="Ayuda" href=""
           data-toggle="modal" data-target="#referenceInfoModal">
            <span id="helpButton" class="bi bi-info-circle-fill mx-1"></span>
        </a>

        <a th:if="${reply_button} != null"
           class="navbar btn btn-primary btn-sm py-1 mr-4"
           type="button" th:href="${reply_button}">Responder</a>

        <a class="navbar-brand mb-0 mr-1"
            href="https://gitlab.com/schcriher/dmc/-/tree/master/Encuestas"
            title="Código fuente" target="_blank">
            <i class="bi bi-code-slash"></i>
            <span class="d-none d-sm-inline ml-1">GitLab</span>
        </a>

    </nav>

    <div class="modal fade" id="responsiveInfoModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content bg-transparent">
                <div class="modal-body text-light bg-dark p-3 rounded">
                    <p class="mb-0" id="responsiveNote">Esta página es responsiva con lo cual
                    funciona adecuadamente en pc como así también en tablets y celulares. Tenga
                    en cuenta que los navegadores de tablets y celulares, a veces, no restan
                    el alto de su barra de menú debido a que estas se ocultan al desplazarse
                    hacia abajo, dando un efecto de funcionamiento aparentemente incorrecto.</p>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${isAnswer}"
         class="modal fade" id="referenceInfoModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content bg-transparent">
                <div class="modal-body text-light bg-dark rounded">
                    <div class="container">
                        <div class="row border-secondary border-bottom mb-1 pb-1">
                            <div class="col-6 text-center font-weight-bolder ml-auto">Opción</div>
                        </div>
                        <div class="row">
                            <div class="col-3 text-center font-weight-bolder ml-auto">Simple</div>
                            <div class="col-3 text-center font-weight-bolder ">Multiple</div>
                        </div>
                        <div class="row" th:if="${isEvaluative}">
                            <div class="col-6 font-weight-bolder">Correcto</div>
                            <div class="col-3 text-center"><i class="bi bi-check-circle"></i></div>
                            <div class="col-3 text-center"><i class="bi bi-check-square"></i></div>
                        </div>
                        <div class="row" th:if="${isEvaluative}">
                            <div class="col-6 font-weight-bolder">Incorrecto</div>
                            <div class="col-3 text-center"><i class="bi bi-circle"></i></div>
                            <div class="col-3 text-center"><i class="bi bi-square"></i></div>
                        </div>
                        <div class="row">
                            <div class="col-6 font-weight-bolder">Seleccionado</div>
                            <div class="col-3 text-center"><i class="bi bi-check-circle-fill"></i></div>
                            <div class="col-3 text-center"><i class="bi bi-check-square-fill"></i></div>
                        </div>
                        <div class="row">
                            <div class="col-6 font-weight-bolder">No seleccionado</div>
                            <div class="col-3 text-center"><i class="bi bi-circle-fill"></i></div>
                            <div class="col-3 text-center"><i class="bi bi-square-fill"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${isReply}"
         class="modal fade" id="referenceInfoModal" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content bg-transparent">
                <div class="modal-body text-light bg-dark rounded">
                    <div class="container">

                        <div class="row justify-content-center">
                            <div class="col-12 text-center font-weight-bolder
                                        border-secondary border-bottom mb-1 pb-1">Opción</div>
                        </div>
                        <div class="row justify-content-center border-secondary border-bottom mb-1 pb-1">
                            <div class="col-6 text-center font-weight-bolder">Simple</div>
                            <div class="col-6 text-center font-weight-bolder">Multiple</div>
                        </div>
                        <div class="row">
                            <div class="col-6 text-center"><i class="bi bi-circle"></i></div>
                            <div class="col-6 text-center"><i class="bi bi-square"></i></div>
                        </div>
                        <div class="row border-secondary border-bottom mb-4 pb-1">
                            <div class="col-6 text-center tinySize">Obligatorio</div>
                            <div class="col-6 text-center tinySize">Admite dejar vacío</div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-12 text-center font-weight-bolder mb-2">Estado de los Campos</div>
                        </div>

                        <div class="row justify-content-center align-items-center">
                            <table class="table table-dark table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <td class="col-6 p-1">
                                            <input class="form-control form-control-sm is-valid"
                                                   placeholder="Dato" disabled/></td>
                                        <td class="col-6 p-1">
                                            <span class="tinySize">Dato correcto</span></td>
                                    </tr>
                                    <tr>
                                        <td class="col-6 p-1">
                                            <input class="form-control form-control-sm is-invalid"
                                                   placeholder="Dato" disabled/></td>
                                        <td class="col-6 p-1">
                                            <span class="tinySize">Dato incorrecto</span></td>
                                    </tr>
                                    <tr>
                                        <td class="col-6 p-1">
                                            <input class="form-control form-control-sm is-checking"
                                                   placeholder="Dato" disabled/></td>
                                        <td class="col-6 p-1">
                                            <span class="tinySize">Dato comprobándose</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</html>
