<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragment_head"></div>
<body>
    <th:block th:include="fragment_navbar :: topnavbar(false, false, false, null)"></th:block>

    <main class="container py-special">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-11 col-md-8 col-lg-7 my-5">

                <div class="list-group">
                    <a th:each="item : ${items}"
                       th:href="${item.url}"
                       class="list-group-item d-flex justify-content-between align-items-center
                              text-white bg-dark">
                        <span th:text="${item.name}">item</span>
                        <span class="badge badge-primary badge-pill"
                              th:title="${items_tooltip}"
                              th:text="${item.quantity}">0</span>
                    </a>
                </div>

            </div>
        </div>
    </main>

    <footer th:replace="fragment_footer"></footer>
    <script th:replace="fragment_javascript"></script>
</body>
</html>
