<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragment_head"></div>
<body>
    <th:block th:include="fragment_navbar :: topnavbar(isReply=true,
                                                       isAnswer=false,
                                                       isEvaluative=false,
                                                       reply_button=null)"></th:block>

    <main class="container py-special">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 my-5">

                <div class="h2 mb-4 text-center font-weight-bold text-capitalize"
                     th:text="${survey.name}">nombre</div>

                <form class="needs-validation text-white" method="POST">
                    <input type="hidden" name="survey_name" th:value="${survey.name}">

                    <!--por cada pregunta-->
                    <div th:each="question : ${survey.questions}"
                         class="form-group row rounded bg-dark p-3 mx-1">
                        <div class="col-12 h6 mb-3 font-weight-bold"
                             th:text="${question.text}">pregunta</div>
                        <div class="col-12 mb-2">
                            <!--por cada opción-->
                            <div th:each="choice : ${question.choices}"
                                 th:with="code=|q${question.id}c${choice.id}|"
                                 class="form-check ml-2">

                                <input th:if="${question.type.name} == 'SINGLE'"
                                       class="form-check-input"
                                       th:tabindex="${#ids.seq('')}"
                                       th:id="${#ids.seq('inputId')}"
                                       th:value="${code}"
                                       name="selection"
                                       type="radio" id="1" required/>

                                <input th:if="${question.type.name} == 'MULTIPLE'"
                                       class="form-check-input"
                                       th:tabindex="${#ids.seq('')}"
                                       th:id="${#ids.seq('inputId')}"
                                       th:value="${code}"
                                       name="selection" type="checkbox" id="1" />

                                <label for="1" class="form-check-label"
                                       th:for="${#ids.prev('inputId')}"
                                       th:text="${choice.text}">opción</label>

                                <div th:if="${question.type.name} == 'SINGLE'"
                                     class="invalid-feedback mt-n1 ml-1">Debe elegir una opción</div>
                            </div>
                        </div>
                    </div>

                    <div class="rounded row bg-dark mt-3 p-3 mx-1">

                        <div class="form-group col-12 mt-2">
                            <label for="inputAuthor">Su nombre</label>
                            <input class="form-control" type="text" name="author"
                                   maxlength="33" pattern="[\p{L} ]+"
                                   th:tabindex="${#ids.seq('')}"
                                   id="inputAuthor" required/>
                            <div class="invalid-feedback ml-1">Debe ingresar un nombre</div>
                        </div>

                        <div class="form-group col-12">
                            <label for="inputAnswer">Nombre de la respuesta</label>
                            <input class="form-control" type="text" name="answer"
                                   maxlength="33" pattern="[\p{L} ]+"
                                   th:tabindex="${#ids.seq('')}"
                                   id="inputAnswer" required/>
                            <div class="invalid-feedback ml-1"
                                 id="invalidAnswerFeedback">Debe ingresar un nombre</div>
                            <p class="text-muted mb-0 mt-2" id="designNote">
                                Por requisitos iniciales de diseño, queda este campo obligatorio
                                que debe ser único en la base de datos.
                            </p>
                        </div>

                        <button class="btn btn-primary shadow my-3 mx-auto ml-sm-auto mr-sm-3 col-10 col-sm-4 col-md-3"
                                th:tabindex="${#ids.seq('')}"
                                id="answerButton" type="submit">Responder</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer th:replace="fragment_footer"></footer>
    <script th:replace="fragment_javascript"></script>
</body>
</html>