/*!
 * Copyright 2021 https://github.com/bolsa-inclusiva-de-trabajo/bit
 */

$morum: #4A2364;

/* --- Loader ---------------------------------------------------- */

#site-loader {
    position: absolute;
    top: 50%;
    left: 50%;
}

/* https://icons8.com/cssload/en/spinners */

.cssload-container {
    position: relative;
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid lighten($morum, 50%);
    border-left-color: $morum;
    border-radius: 974px;
        -o-border-radius: 974px;
        -ms-border-radius: 974px;
        -webkit-border-radius: 974px;
        -moz-border-radius: 974px;
}

.cssload-whirlpool::before {
    content: "";
    margin: -22px 0 0 -22px;
    height: 43px;
    width: 43px;
    animation: cssload-rotate 1150ms linear infinite;
        -o-animation: cssload-rotate 1150ms linear infinite;
        -ms-animation: cssload-rotate 1150ms linear infinite;
        -webkit-animation: cssload-rotate 1150ms linear infinite;
        -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
    content: "";
    margin: -27px 0 0 -27px;
    height: 55px;
    width: 55px;
    animation: cssload-rotate 2300ms linear infinite;
        -o-animation: cssload-rotate 2300ms linear infinite;
        -ms-animation: cssload-rotate 2300ms linear infinite;
        -webkit-animation: cssload-rotate 2300ms linear infinite;
        -moz-animation: cssload-rotate 2300ms linear infinite;
}

.cssload-whirlpool {
    margin: -24px 0 0 -24px;
    height: 49px;
    width: 49px;
    animation: cssload-rotate 1150ms linear infinite;
        -o-animation: cssload-rotate 1150ms linear infinite;
        -ms-animation: cssload-rotate 1150ms linear infinite;
        -webkit-animation: cssload-rotate 1150ms linear infinite;
        -moz-animation: cssload-rotate 1150ms linear infinite;
}

@keyframes cssload-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-rotate {
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-rotate {
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}

/* --------------------------------------------------------------- */

$theme-colors: (
    primary: $morum
);


@import "bootstrap/bootstrap.scss";


/* <a href='https://www.freepik.es/vectores/fondo'>Vector de Fondo creado por coolvector - www.freepik.es</a> */
body {
    background-color: #956C39;
    background-image: url(/public/img/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 300px;
}

nav.bg-dark {
    background-color: darken($dark, 10%) !important;
}

i.bi {
    vertical-align: 0.1em;
}

.py-special {
    padding-top: 3.6em !important;
    padding-bottom: 2.3em !important;
}

.black, .black a, .black p {
    color: #060606;
}

#message {
    background-color: #00000044;
}

#message a {
    font-weight: bolder;
    font-style: italic;
}

#supportDisplayButton {
    font-size: medium;
    position: relative;
    top: -2px;
    left: 2px;
}

#supportPhoneButton {
    font-size: small;
    position: relative;
    left: 1px;
}

#helpButton {
    font-size: medium;
    position: relative;
    top: -1px;
}

#designNote {
    font-size: 14px;
    line-height: 1.1em;
}

#responsiveNote {
    font-size: 16px;
    line-height: 1.2em;
}

.tinySize {
    font-size: 12px;
    line-height: 1em;
    margin-top: 0.2em;
}

.is-checking {
    border-color: $morum;
    padding-right: calc(1.5em + .75rem);
    background-image: url(/public/img/loading.svg);
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
}
